{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
<script src="http://openlayers.org/en/v3.0.0/build/ol.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
	<h3>Track</h3>
	<script type="text/javascript" src="{% static 'js/clusters.js' %}"></script>
	<div id="mapDiv" class="text-center mapDiv"></div>
	<script>
		var interval = 5000;
		var map;
		var center_p = [-74.021759, 40.712264]; // NY Hudson River
		var ly_2;

		var iconsLayer;
		var clusters;

		// Points around Hudson Rv
		var arrCoord = [
		    [-73.878937, 40.712264], 
		    [-73.966827, 41.172840],
		    [-73.983307, 40.810041],
		    [-115.172051, 36.15900]
		];

		var ajax_call = function() {
			$.get("tracker/")
				.done(function(data) {
					// load points on map
					//var arrFrames = data['frames'];
					//var arrTargets = data['targets']
					/*
					minLon = data['frames']['']

					/*if (minLon != null && minLat != null && maxLon != null && maxLat != null){
					 	var bottomLeft = ol.proj.transform([minLon, minLat], 'EPSG:4326', 'EPSG:3857');
					 	var topRight = ol.proj.transform([maxLon, maxLat], 'EPSG:4326', 'EPSG:3857');
					 	extent = new ol.extent.boundingExtent([bottomLeft,topRight]);
					 	map.getView().fitExtent(extent, map.getSize());
					}*/

					targets = data.targets;
					frames = data.frames;
					icons_ly = get_icons(targets);
					clusters_ly = get_clusters(targets);

					map.addLayer(clusters_ly);
					map.addLayer(icons_ly);
				});
		}; // end ajax_call fun

		/* call ajax function every second */
		setInterval(ajax_call, interval);
		iconsLayer = get_icons(arrCoord);
		clusters = get_clusters(arrCoord);

		// create map with clusters
		map = new ol.Map({
	    	target: 'mapDiv',
	    	layers: [new ol.layer.Tile({ source: new ol.source.OSM() }), iconsLayer, clusters],
	    	view: new ol.View({
	      		center: ol.proj.transform(center_p, 'EPSG:4326', 'EPSG:3857'),
	      		zoom: 5
	    	})
	  	});
	</script>
{% endblock %}